
body,
html {
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    height: 250px;
    background: rgba(0, 0, 0, 0.6) url("../images/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    display: flex;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.content-container {
    background-color: #121212;
    min-height: 74vh;
    font-size: 1.3rem;
}

h1,
nav {
    margin: 0 20px;
    font-size: 1.1em;
}

h1 {
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 3px;
}

nav a {
    color: #121212;
    background: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none;
}

@media (max-width:550px){
    .header-container{
        flex-direction: column;
        justify-content: center;
    }

    nav a {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

}